@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Heebo", sans-serif;
}

/* ================== HEADER ================== */
#header {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

/* ========= navbar ========= */

#nav-main {
  position: fixed;
  background-color: #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80vw;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 2;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  font-weight: 300;
  width: 12rem;
  text-align: center;
  margin-right: 3rem;
  transition: 100ms;
  transform: translateY(0);
}

.nav-item a:hover {
  color: #0066cc;
}

.nav-links .nav-item:nth-of-type(1) a {
  font-weight: 300;
  font-size: 2em;
}

.nav-links .nav-item:nth-of-type(1) a:hover {
  font-weight: 500;
}

.nav-links .nav-item:nth-of-type(2) a {
  color: #626d7c;
}

.nav-links .nav-item:nth-of-type(2) a:hover {
  font-weight: 500;
  color: #0066cc;
}

.nav-links .nav-item:nth-of-type(3) a {
  color: #626d7c;
}

.nav-links .nav-item:nth-of-type(3) a:hover {
  font-weight: 500;
  color: #0066cc;
}

.nav-form {
  color: white;
  padding-right: 3rem;
}

[placeholder*="Search"] {
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  color: #626d7c;
  font-weight: 400;
  font-size: 1.6rem;
}

[placeholder*="Search"]:focus {
  outline: none;
}

[name*="SearchBtn"] {
  width: 12rem;
  height: 4rem;
  color: #000000;
  background-color: lightgrey;
  border: solid darkgray 1px;
  border-radius: 5px 5px 5px 5px;
  transition: 100ms;
  transform: translateY(0);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 100;
}

[name*="SearchBtn"]:hover {
  color: #ffffff;
  background-color: #0066cc;
  border: solid #0066cc 1px;
}

#back-btn:hover {
  color: #0066cc;
  background-color: #ffffff;
}

/* [name*="SearchBtn"]:hover {
  box-shadow: 0 8px 6px -6px black;
  cursor: pointer;
  transition: 100ms;
} */

/* ================== MAIN ================== */
/* ========= homescreen section ========= */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#beer-bar-section {
  margin: 0;
}

.homescreen-container {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 0m;
  margin-bottom: 2rem;
  border-radius: 5px;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 3rem 3rem 1rem 3rem;
}

.heading-1 {
  color: red;
  font-size: 4rem;
}

.p-text {
  font-size: 2rem;
  line-height: 1.5rem;
  color: black;
  font-weight: 200;
  margin: 0 3rem 0;
}

hr {
  border: 1px;
  margin: 1rem 3rem;
}

.home-screen-img {
  margin: 0 3rem 4rem;
  padding-bottom: 4rem;
}

/* ========= beers section ========= */

.beers-main-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
}

.beers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beer-form {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  margin-bottom: 5rem;
}

#page-size,
#sort-beers {
  background-color: red;
  width: 20rem;
  height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 100ms;
  transform: translateY(0);
}

#page-size:hover,
#sort-beers:hover {
  background-color: #ffffff;
  color: red;
  border: 1px solid red;
}

option {
  color: black;
  background-color: white;
  width: 50rem;
}

.beers-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.beer {
  border-bottom: 1px solid lightgrey;
  margin: 0 1.3rem;
  /* width: calc(78vw / 5); */
  width: 28rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-img-container {
  margin: 0 auto;
  height: 14rem;
  padding: 5px;
}

.beer-img-container > img {
  position: relative;
  left: 45%;
  transform: translateX(-50%);
  margin: 1rem;
  height: 12rem;
  padding: 5px;
}

.beer-name {
  font-size: 2rem;
  text-align: center;
  height: 6rem;
  padding: 0 2rem;
}

.beer-description-container {
  font-size: 1.4rem;
  padding: 0 3rem;
  height: 6.5rem;
}

/* .beer-details-btn {
  width: 12rem;
  height: 4rem;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0066cc;
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
  margin-top: 1.5rem;
} */

.beer-details-btn {
  width: 12rem;
  height: 4rem;
  color: #ffffff;
  background-color: #0066cc;
  border: solid #0066cc 1px;
  border-radius: 5px 5px 5px 5px;
  transition: 100ms;
  transform: translateY(0);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 100;
}

.beer-details-btn:hover {
  color: #0066cc;
  background-color: #ffffff;
}

.paginaton-buttons {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.previous-btn {
  color: #0066cc;
  background-color: #ffffff;
  border: solid #0066cc 1px;
  border-radius: 5px 0 0 5px;
  transition: 100ms;
  transform: translateY(0);
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 100;
}

.previous-btn:hover {
  background-color: #0066cc;
  color: #ffffff;
}

.next-btn {
  color: #0066cc;
  background-color: #ffffff;
  border: solid #0066cc 1px;
  border-radius: 0 5px 5px 0;
  transition: 100ms;
  transform: translateY(0);
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 100;
}

.next-btn:hover {
  background-color: #0066cc;
  color: #ffffff;
}

.disabled-previous-btn {
  color: #0066cc;
  background-color: #ffffff;
  border: solid #0066cc 1px;
  border-radius: 5px 0 0 5px;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 100;
}

.disabled-next-btn {
  color: #0066cc;
  background-color: #ffffff;
  border: solid #0066cc 1px;
  border-radius: 0 5px 5px 0;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 100;
}

/* ========= random beer section ========= */

.random-beer-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 60vw;
  height: 70rem;
}

.random-beer-img {
  max-width: 50rem;
  max-height: 70rem;
}

.random-beer-details {
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: 60rem;
}

.random-beer-name {
  border-bottom: 1px solid lightgrey;
  border-radius: 3px 3px 0 0;
  background-color: #f1f1f1;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}

.random-beer-tagline {
  font-size: 1.8rem;
  font-weight: 300;
}

.random-beer-description {
  font-size: 1.6rem;
  padding: 2rem;
  min-height: 30rem;
}

.random-beer-first-breewed {
  font-size: 1.6rem;
  padding: 0 2rem;
}

.random-beer-alcohol {
  font-size: 1.6rem;
  padding: 0 2rem;
}

.random-beer-bitterness {
  font-size: 1.6rem;
  padding: 0 2rem 2rem;
}

.random-beer-food-pairing {
  font-size: 1.6rem;
  padding: 0 2rem 2rem;
}

.food-pairing-heading {
  padding: 0 0 2rem;
}

.food-pairings-ul {
  list-style: none;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.food-pairings-li {
  border-bottom: 1px solid lightgrey;
  padding: 1rem 2rem;
}

.food-pairings-li:last-child {
  border: none;
}

#back-btn {
  position: absolute;
  left: 19rem;
  width: 12rem;
  height: 4rem;
  color: #ffffff;
  background-color: #0066cc;
  border: solid #0066cc 1px;
  border-radius: 5px 5px 5px 5px;
  transition: 100ms;
  transform: translateY(0);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 100;
}

#back-btn:hover {
  color: #0066cc;
  background-color: #ffffff;
}

/* HIDDEN ELEMENT */

.hidden {
  display: none;
}
